<form asp-controller="Account" asp-action="Register" method="post">
    <p>Nazwa konta:</p>
    <input type="text" name="Login" />
    <p>Hasło:</p>
    <input type="password" name="Password" />
    <p>Powtórz hasło:</p>
    <input type="password" name="RepeatedPassword" />
    <button type="submit">Zarejestruj się</button>
</form>