
@{
    ViewData["Title"] = "Index";
}

<h1>Rejestracja wizyty</h1>
<form asp-controller="Appointment" asp-action="AppointmentList" method="post">
@*    Login:
    <input type="text" name="Name" id="Name"/><br />
    Hasło:
    <input type="password" name="Surname" id="Surname"/><br />*@
    <button type="submit">Zaloguj</button>
</form>
<button><a href="AppointmentList">Lista wizyt</a></button>
