@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Account" asp-action="Login">
    <p>Login:</p>
    <input type="text" name="Login" />
    <p>Hasło:</p>
    <input type="password" name="Password" />
    <button type="submit">Zaloguj</button>
</form>
<p>Nie masz konta? <a asp-action="RegisterPage" asp-controller="Account">Zarejestruj się</a></p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
